[2014-02-25 14:41] tkellen opened #5 "--cwd / --configfile option"
Two questions:

At the moment, if someone uses the `--configfile` option, it overrides `--cwd` to be the dirname of the of `--configfile`.

1) Does it make sense to allow them to be totally separate?  This would make it possible for someone to have a single config file that operates on multiple projects.
e.g.

[code]

_In both of the above cases, the local install and plugins are in `/Users/tkelle

[2014-02-28 22:47] #5 closed, assigned to nobody

[2014-03-22 20:27] jonschlinkert opened #7 "use local module without a config file"
Hey @tkellen! I'm using liftoff on [verb-cli](https://github.com/assemble/verb-cli/blob/master/bin/verb) and loving so far, thank you.

I have a challenge that I'm hoping to get your insights on.

For background, by default Verb will process any given templates using metadata from package.json (and/or local git repository if present. such as origin url, etc). So there doesn't really _need_ to be a

[2014-03-26 17:20] tkellen opened #8 "support locating multiple configuration files"
configuration like this:
[code]

yields environment like this:
[code]

`~` expands to `process.env.HOME || process.env.HOMEPATH || process.env.USERPROFILE`
`searchPath` entries which specify an array of paths should NOT perform findUp on each entry.

[2014-03-28 20:56] #7 closed, assigned to nobody

[2014-04-24 00:29] yocontra opened #10 "Should change CWD to resolved file directory"
For example, if I am in a subdirectory it won't actually work because the paths in the *file are relative to the folder where the *file is

So yeah, env.cwd is coming back invalid in this case.

[2014-05-07 03:55] #10 closed, assigned to nobody

[2014-05-24 18:02] yocontra opened #12 "Parse options immediately"
I think it would be easier if you could grab parsed args off the cli object before calling .launch

Example:

[code]

I need to be able to implement a --silent flag that will disable the logging in the 'require' handler, but that data is not accessible until the handleArguments is called. I can parse the arguments myself but it seems like a duplication of logic/processing

[2014-06-06 21:16] sindresorhus opened #16 "process.cwd() should be changed to the root folder where the `hackfile` is"
Since a bin using liftoff can be executed in subfolder, without this you can't use relative paths as they will be different when in a subfolder.

Reproduce:
- gulpfile: `console.log(process.cwd())`
- go into a subfolder
- run `gulp`
- it will output the current path and not the gulpfile dir path

[2014-06-09 08:47] #16 closed, assigned to nobody

[2014-06-09 08:49] #12 closed, assigned to nobody

[2014-06-26 21:03] yocontra opened #17 "js should come first"
If you have a js and a coffee file in the same folder it will choose coffee over js. I think built-ins should come first

[2014-06-27 20:21] #17 closed, assigned to nobody

[2014-09-02 09:32] tkellen opened #20 "support respawning with any valid v8 flag"
ref gulpjs/gulp#437

using node-v8flags.

[2014-09-12 19:43] #20 closed, assigned to nobody

[2014-09-30 20:49] tkellen opened #22 "config find bug"
https://github.com/gulpjs/gulp/issues/664

[2014-10-09 13:52] iki opened #23 "coffee-script/register test fails on win8.0 x64 node 0.10.32"
[code]
Discovered when using gulp with gulpfile.coffee, and originally reported at https://github.com/gulpjs/gulp/issues/717.

[2014-10-09 13:55] iki opened #24 "symlink test fails on win8.0 x64 node 0.10.32"
[code]
See also another test suite error on windows: https://github.com/tkellen/node-liftoff/issues/23.

[2014-11-05 03:55] wbyoung opened #25 "Confusion between cwd and configBase"
[`gulp` uses `env.cwd`](https://github.com/gulpjs/gulp/blob/b95773b3bcdd0ba4a7b558651fcb82acc7a798e8/bin/gulp.js#L108) while [`hacker` uses `env.configBase`](https://github.com/tkellen/node-hacker/blob/f0a5dc6c97a3111c8b5288a776f23b506d47c6fd/bin/hacker.js#L48) to change the working directory.

Which is correct? Will this simply be something that different apps may prefer to handle in different wa

[2014-11-05 16:32] #25 closed, assigned to nobody

[2014-11-18 06:29] tkellen opened #27 "decrease size"
findup-sync depends on lodash ~2.4
resolve does not npmignore the tests directory

if these things were fixed liftoff would come in sub 200k.

/cc @contra

[2014-12-05 00:50] doublerebel opened #28 "support optional global require for non-js filetypes"
Hello,

Would you consider an option for Liftoff that allows global require of CoffeeScript, etc., rather than limiting to `requireLocal`?

In some cases I write a `Hacker.coffee` as a utility script for a package in another language, so having a locally installed interpreter seems like overkill.  I think most users who would write a script in `<js-variant>` likely already rely on having a globall

[2014-12-17 13:18] #27 closed, assigned to nobody

[2014-12-22 16:43] #22 closed, assigned to nobody

[2015-01-04 20:26] dogancelik commented on #23
I have this issue too. I can't use gulp 3.8 with gulpfile.coffee.

Node version: 0.10.33
Windows version: 7 (64-bit)

[code]

[2015-01-04 20:30] tkellen commented on #23
which shell are you using?

[2015-01-04 20:35] dogancelik commented on #23
@tkellen I'm using Command Prompt

[2015-01-04 20:42] tkellen commented on #23
can you confirm if the issue exists using powershell and or git shell?

[2015-01-04 20:48] dogancelik commented on #23
Yup issue exists on both.

![test](https://cloud.githubusercontent.com/assets/486818/5607408/a32d818e-9463-11e4-9d45-8b93a0090380.jpg)

[2015-01-04 21:00] tkellen commented on #23
I'm not able to reproduce this on my test machine.  Can you add `console.log(configPath)` to line 111 of index.js and share the output?

[2015-01-04 21:27] dogancelik commented on #23
@tkellen Yes! I found the problem, it's the regex that breaks the things.

Tl;DR FIX:

[code]
You see this code will only get everything except `/` but this will work for a Unix path because `/` is used for Unix systems. But Windows uses `\` so it won't work for a Windows path.

New regex:
[code]

**If I add `\\` to the regex, test works perfectly (in `D:\07. Alınan Dosyalarım\node-liftoff-master`

[2015-01-04 21:28] tkellen commented on #23
Awesome!  Would you mind submitting a PR?

[2015-01-04 21:29] tkellen commented on #23
Also, could you add a test case for this so we can ensure it never crops up again?

[2015-01-04 21:32] dogancelik commented on #23
Alright I'll try

[2015-01-04 22:34] dogancelik commented on #23
@tkellen Wouldn't it be more safe to use the regex on just the file name (`mochafile.coffee`) rather than the whole file path (`C:\node-liftoff-master\test\fixtures\coffee\mochafile.coffee`).

Like this (indented for readability):
[code]

[2015-01-04 22:36] tkellen commented on #23
It sure would!  I'd take a PR for that, and no need for the additional test case since it would become irrelevant.

[2015-01-05 00:07] tkellen commented on #23
Resolved in df3630f58836cffbb0bbf8f967932d4484ac20c5

[2015-01-05 00:07] #23 closed

[2015-01-15 13:15] callumacrae opened #30 "Support io.js"
Not sure how this would work. Are there any plans to support io.js?

[2015-01-15 13:19] tkellen commented on #30
Liftoff should work fine with io.js.  There are some small issues with a companion library that can be leveraged to get automatic re-spawning for flags like `--harmony`, though (node-v8flags).

[2015-01-15 13:19] #30 closed

[2015-01-15 13:21] tkellen commented on #24
Pretty sure this is related to gulp/gulpjs#664

[2015-01-15 13:29] callumacrae commented on #30
Cool, I wasn't sure how it worked. So if it's called using io.js, it'll run stuff using io.js?

The harmony flag is default in io.js, so that one in particular wouldn't be an issue.

[2015-01-29 12:43] callumlocke opened #31 "env.modulePath not set correctly in v2"
After updating my project to liftoff 2.0.0, the `env.modulePath` (passed to my `launch` callback) has changed to something incorrect (just `./index.js` relative to the cwd) when it used to point to my module in `node_modules`. I'm guessing this is due to an API change in v2, but I can't see anything obvious

[2015-01-29 13:44] callumlocke commented on #31
i've looked into it and now think it could be a bug... the weird thing is env.modulePath is wrong but the env.modulePackage has been correctly loaded.

think I know what's wrong, pr coming...

[2015-01-29 14:05] tkellen commented on #28
Closing for inactivity.  I would still accept a PR for this, though.

[2015-01-29 14:05] #28 closed

[2015-02-01 14:12] #31 closed

[2015-02-01 14:17] tkellen opened #34 "test codepath for "developing against yourself""
https://github.com/tkellen/node-liftoff/blob/6f4e29e2a768cb5fe61547b80bb73184061df614/index.js#L93-L108

[2015-02-01 14:18] tkellen opened #35 "test codepath for "developing against yourself""
https://github.com/tkellen/node-liftoff/blob/master/index.js#L93-L108

[2015-02-01 14:18] #35 closed

[2015-02-14 20:54] silkentrance opened #37 "deprecate requires option"
With rechoir in place, the requires option is no longer required.

[2015-02-14 20:56] silkentrance opened #38 "options.extensions obsolete?"
With rechoir in place, the extensions option might no longer be needed.

[2015-02-14 21:38] tkellen commented on #37
The requires option could be used for more than pre-loading js-variant interpreters.

[2015-02-14 21:38] #37 closed

[2015-02-14 21:39] tkellen commented on #38
Not so, the extensions option specifies which extensions are valid for config files.  There are implementations in the wild that use extensions which are not listed (nor should be) in interpret.

[2015-02-14 21:39] #38 closed

[2015-02-14 21:45] silkentrance commented on #37
With rechoir in place, the requires option should no longer be used to load pre-load js-variant compilers/transpilers.

[2015-02-14 21:48] phated commented on #37
Rechoir isn't in place, as noted in https://github.com/tkellen/node-rechoir/issues/17

Allowing people to require anything will allow them to pre-load transpilers if they choose.  There is no way to restrict that.

[2015-02-14 21:49] silkentrance commented on #38
@tkellen As such, the extensions option is rather difficult in that one cannot assume a valid compiler/transpiler from the extension alone. Shouldn't this be more of a map of want - exist, e.g.

[code]

or the likes?

[2015-02-14 21:52] silkentrance commented on #37
@phated Why isn't rechoir in place? This seems to be a issue to me, liftoff not being able to reuse the node-interpret registry nor node-rechoir, altogether reimplementing the same behaviour.

[2015-02-14 21:55] phated commented on #37
@silkentrance what are you talking about?  Liftoff already uses interpret.  rechoir added new functionality for legacy module support which hasn't been backported to liftoff.  As mentioned in the linked issue, having specific functionality in rechoir for a __very__ liftoff-specific feature is undesirable.

[2015-02-14 21:57] silkentrance commented on #37
@phated having synchronized my clone with the current master, there is no dependency towards node-interpret whatsoever. I do not know what you are talking about.

[2015-02-14 21:59] phated commented on #37
@silkentrance I think you need to investigate how all of these libraries work together.  You can see how they are used at https://github.com/gulpjs/gulp/blob/master/bin/gulp.js#L21-L26

[2015-02-14 22:07] silkentrance commented on #37
@phated you are not abstracting away the whole problem. The extensions option is actually obsolete, or, rather not so obsolete as @tkellen put it, as there are file extensions that are specific to a given tool but which will map to an existing extension that in turn can be mapped to a compiler/transpiler/interpreter instead.

You are making this API depending on the (limited) requirements of gulp

[2015-02-14 22:12] phated commented on #37
@silkentrance those tools give their own objects as  `extension -> transpiler` objects and don't use interpret.  You are conflating too many things and are actually trying to make liftoff less flexible.  In no way should liftoff have a hard dependency on interpret.  The only way it will have a dependency on interpret is if we want to use it as a default for extensions (which we probably won't).

[2015-02-14 22:15] silkentrance commented on #37
@phated Heck, how difficult can it be, having node-interpret and node-rechoir in place, why would one to reimplement the existing behaviour instead of build on top of it, layer wise...
And in no way I would liftoff to be less flexible, as it is already inflexible as per your provided example, which limits the configuration files to just the available js dialects extensions registered with node-int

[2015-02-14 22:22] phated commented on #37
Dude, you are seriously confused.  I can't continue this discussion if you don't understand how the code works.

[2015-02-14 22:25] silkentrance commented on #37
@phated

There is no discussion here, my point is correct and yours is ultimately wrong.

[2015-02-14 22:40] tkellen commented on #37
Every single invocation of every single tool that uses Liftoff does not need the complexity of your extremely narrow use case. You *can* have what you want right now: fork + npm link = done. Once you've stabilized your in-development language, you can add it to interpret and it'll be published in a matter of hours.

[2015-02-14 22:48] silkentrance commented on #37
@tkellen this is not about me, it is about everyone that wants to implement a new dialect or alias an existing extension to another, different extension, for example multigruntfile.multigrunt or something like that.
Something which the current implementation will not support.
And the complexity is near to zero when using appropriate file filters.

[2015-02-14 22:49] tkellen commented on #37
Find me 10 people with this problem and I'll re-consider adding this feature.  As it is you can get support for this in a liftoff cli with `tool --require mylang --configfile myconfig.whatever`

[2015-02-14 22:57] silkentrance commented on #37
Yes, you are right, however, having --require mylang --configfile myconfig.whatever being obsoleted, what a great gain would that be for the user?

Perhaps the rather simple changes I will propose in my PR will make you think otherwise and help to improve on the reuse of node-rechoir.

[2015-02-14 23:02] tkellen commented on #37
`--require` is not going to be obsoleted.

[2015-02-14 23:09] silkentrance commented on #37
it will be blatantly ignored instead :grinning: and leaving it to rechoir to figure things out?

[2015-02-14 23:16] tkellen commented on #37
The use case for `--require` in liftoff is orthogonal to the problem being
solved by rechoir.
On Feb 14, 2015 6:09 PM, "Carsten Klein" <notifications@github.com> wrote:

[2015-02-15 02:21] silkentrance commented on #37
Actually --require becomes obsolete once rechoir is being used by liftoff. And I do not see any use case other than what I proposed in my now prematurely closed PR over at node-rechoir which would enable users to add arbitrary aliases for existing jsVariants a/o extensions...

[2015-02-16 02:37] tkellen commented on #22
Resolved in node `0.12` https://github.com/gulpjs/gulp/issues/664#issuecomment-74452275

[2015-02-16 15:15] heikki commented on #24
https://github.com/joyent/node/issues/6342#issuecomment-26214543

After changing the security settings all tests pass on Win7 virtual machine with v0.12.0, v0.11.16 & v0.10.36.

[2015-02-16 15:15] tkellen commented on #24
:+1: thanks @heikki

[2015-02-16 15:15] #24 closed

[2015-02-16 16:17] silkentrance opened #39 "Integrate node-rechoir"
See the following PR for an example of how to integrate node-rechoir.

[2015-02-18 18:49] silkentrance commented on #39
Closing as the PR will not be merged due to unresolved issues with overall node-rechoir integration...

[2015-02-18 18:49] #39 closed

[2015-02-18 18:51] silkentrance opened #42 "Broken async tests"
Some of the tests are broken

- declaration of variable in outer scope and testing in same scope but setting of variable in async callback
- duplicate invocation of done()

See the follow up PR for more information

[2015-02-18 19:59] #42 closed

[2015-02-23 13:48] Meroje commented on #28
I had a look at this, would the solution I just commited [here](https://github.com/Meroje/node-liftoff/commit/89cecc4320c45144f2ef5de15e348158da6761d7) be okay for a PR or is there some issues with require.paths (per the comment "Probably don't use this") ?

[2015-02-23 14:15] heikki commented on #28
FYI that fix breaks if `process.env.NODE_PATH` is undefined.

Nvm has stopped setting it: https://github.com/creationix/nvm/issues/586

[2015-02-23 14:58] Meroje commented on #28
Ah right, I was testing with gulp which wraps this in a try/catch. A simple
condition will do for this.
Any insight on this comment on node-resolve : "opts.paths: probably don't
use this" ?

[2015-02-23 15:09] heikki commented on #28
I've seen that too but don't know any additional details.

Here's related PR that was rejected: https://github.com/substack/node-resolve/pull/47

[2015-02-23 16:18] Meroje commented on #28
So, as I understand it, use of NODE_PATH is discouraged just like having a very long PATH and putting a binary in the last folder will be slow. I will submit the PR later once I have a test written.

[2015-03-21 18:22] orlin opened #45 "liftoff throws when running gulp with bats"
I get [this error](https://travis-ci.org/orlin/gulp-npm-test/jobs/55284051) from travis.  It seems to be a linux issue.  No problem with the `tests.bats` on mac os.  A `cwd` problem?  I tried `run gulp test --cwd "$(pwd)/test"` but that didn't help either.  Here is a copy of the error:

[code]

[2015-03-21 18:25] tkellen commented on #45
What's the output of `require('os').tmpdir()` on your machine?

[2015-03-21 18:31] tkellen commented on #45
The actual issue is here:
https://github.com/tkellen/js-v8flags/blob/master/index.js#L6

As an aside, [gulp-npm-test](https://github.com/orlin/gulp-npm-test) seems like a bad idea in general and I suspect it will be blacklisted.

/cc @contra @sindresorhus @phated

[2015-03-21 19:08] orlin commented on #45
I tried giving it the `--gulpfile` path and it looks for the flags in `/home/orlin/Dev/gulp-npm-test/test/tmp/4.1.0.21.flags.json`, which is a little better than `$TMP` but still wrong.

Why does `gulp-npm-test` seem like a bad idea?  Maybe because of `gulp-watch`?  I also wrote [gulp-npm-run](https://github.com/orlin/gulp-npm-run) - does that one look any better?  It simply makes gulp tasks for a

[2015-03-21 19:32] orlin commented on #45
On my mac it's `/var/folders/sw/9ytz1ffn1mn0cr2hf0jcz2n80000gn/T/`, where it's no problem.  On my linux box it's `/tmp` where the error occurs.  I can push a test to find out what it's on travis-ci, if it helps to know.

[2015-03-22 00:28] tkellen commented on #45
Could you add a failing test for the v8flags repo?

[2015-03-22 00:28] tkellen commented on #45
I'm going to close this since that is where the actual issue is.

[2015-03-22 00:28] #45 closed

[2015-05-19 20:53] tkellen opened #47 "support extended extension listing"
/ref tkellen/js-interpret#25

[2015-05-27 17:47] brycefisher opened #51 "Gracefully handle v8flags failure?"
Related to https://github.com/shipitjs/shipit/issues/70 and https://github.com/tkellen/js-v8flags/issues/13 , if `HOME` is not accessible, this can cause upstream modules that require liftoff to fail (even if they don't explicitly need any specific v8flags).

Is it possible to issue a warning and keep going if v8flags fails for some reason? The specific case I ran into today is where the uid execu

[2015-05-27 18:46] tkellen commented on #51
Would you mind opening this issue on v8flags? This definitely needs to be addressed there. I have a few ideas for how we can resolve this!

[2015-05-27 18:46] #51 closed

[2015-05-27 19:26] brycefisher commented on #51
Yeah! Thanks for positivity.

[2015-06-24 02:35] mprobst opened #52 "Support not having a configuration file to search for"
I have a utility that you'd run on files within a project ([angular/clang-format], a JavaScript code formatter).  I'm trying to use Liftoff to respawn my node library and use whatever `clang-format` is in the next `node_modules` folder as seen from the file being formatted.

My utility has no configuration file, so that cannot anchor the search. Should I just use plain `node-resolve`?

[2015-07-06 11:14] tkellen commented on #52
Sorry for the slow reply @mprobst.  I do think you'd be well served by `node-resolve` for this case!

[2015-07-06 11:14] #52 closed

[2015-07-06 13:05] mprobst commented on #52
Yeah, I figured so much. For the reference if someone finds this, I added that here: https://github.com/angular/clang-format/commit/2f9ceb9c3200e0ea3eeb6f8191ed28f4265ff923

[2015-07-07 11:45] callumlocke opened #53 "add beforeRequire event"
There is already a `require` event which fires after a successful require (I think?), but I'd like to also have a `beforeRequire` event, which would include the external module name. This could be used for timing the load of the external module.

[2015-07-07 12:15] tkellen commented on #53
Seems good to me! You'll want to emit here:
https://github.com/tkellen/js-liftoff/blob/master/index.js#L27

If you include tests and documentation on the first pass we can probably get a release cut right away.

[2015-09-15 02:00] tkellen opened #54 "bumping findup-sync"
Whatcha think, @phated? Minor or major bump here for Liftoff?

[2015-09-15 02:02] tkellen commented on #54
/ref gulpjs/gulp-cli#33, cowboy/node-findup-sync#20

[2015-09-15 05:28] phated commented on #54
@tkellen we control all the lookups using findup-sync, correct?  No user input for globs?  And I am pretty sure none of our usage was reliant on globs breaking changes so we should be able to get away with a minor (unless I am mistaken on the 2 questions I asked).

[2015-09-18 21:04] tkellen commented on #54
You're right, we can totally do this as a minor bump.

[2015-09-21 21:27] #54 closed

[2015-10-07 18:17] grahamaj opened #55 "If an explicit cwd is provided, try searching for the module there if it could otherwise not be determined"
The current implementation chooses to search for the module in the following order:

1. <`configPath` directory>/node_modules/<module name>
2. main file in <`configPath` directory>/package.json

I have a need for the search to continue.  Perhaps if these first two searches turn out unsuccessful, these 2 steps could be repeated in the CWD (in place of the `configPath`) if an explicit one was provid

[2015-10-07 19:05] phated commented on #55
I'm confused by this issue.  If a `cwd` is provided, we resolve from there, see: https://github.com/js-cli/js-liftoff/blob/master/index.js#L93

[2015-10-07 21:24] grahamaj commented on #55
This is true, but is not the case when a `configPath` is set.

In my specific situation, I have a `configPath` file that is version controlled in directory `A` and want to run it in context of directory `B` which is not version controlled. Directory `B` contains my target library in the node_modules directory.  I expected that when I pass both the `configPath` and the `cwd` that it would search fo

[2015-10-07 21:58] grahamaj commented on #55
Perhaps some code would better explain it.  (See https://github.com/grahamaj/js-liftoff/commit/4245300423461f05395717257aca6909c40ca300)  I am not sure if this code is perfectly correct, though the unit tests still pass.  I am not familiar enough with the rest of the code to know how  to fully account for the [assignment on line 107](https://github.com/js-cli/js-liftoff/blob/master/index.js#L107)

[2015-10-15 12:17] tkellen commented on #55
Heya @grahamaj, I understand what you're saying and I agree that this should be possible. Would you please open a PR with your changes?

...as for what this block is doing:
https://github.com/js-cli/js-liftoff/blob/master/index.js#L97-L112

Imagine for a moment that you had gulp-cli installed and were working on gulp itself. Since gulp-cli uses liftoff, and it tells liftoff that a local copy of gu

[2015-10-18 00:42] callumlocke opened #56 "Any examples of completions being used?"
I want to use the completions feature but it's barely documented and I can't work it out. Are there any examples I can look at?

[2015-10-18 00:46] tkellen commented on #56
There sure are!

https://github.com/gulpjs/gulp-cli/tree/master/completion

[2015-10-18 04:28] mikehaas763 opened #57 "Possibility to pass options to a compiler"
I would like to have the ability to pass options to a compiler. For example, with babel you can configure it like `require('babel-core/register')({options:{}})`. Is this already possible or if not, does it align with the design principles of this library?

[2015-10-18 13:13] tkellen commented on #57
Do you mean that you as a CLI author want to control this, or you as a CLI user would like to be able to customize this when launching a tool that uses Liftoff?

[2015-10-18 13:17] tkellen commented on #57
This is not currently possible, but I'm open to the idea that it should be.

For the case of a CLI author, you can override the prototype `requireLocal` [seen here](https://github.com/js-cli/js-liftoff/blob/master/index.js#L25-L33) right now. I'd be open to providing a better API into that functionality, though.

For the case of a CLI consumer customizing this via the command line, we can implemen

[2015-10-18 13:34] mikehaas763 commented on #57
I think both, if it can be done with Liftoff (which you mentioned you can in the 2nd reply) then I would assume it's up the the lib author to traffic cop the options if they want to have the feature in their lib. Does that sound like how it should be designed? I am actually wanting to do this through gulp as an FYI.

[2015-10-18 13:53] callumlocke commented on #56
nice

[2015-10-18 13:53] #56 closed

[2015-10-19 02:15] phated commented on #57
Currently, a CLI author can pass their own options by passing a custom list of interpreters to Liftoff - see https://github.com/js-cli/js-interpret/blob/master/index.js#L5-L11

For your example, it is recommended you use a babelrc to specify custom options - see https://babeljs.io/docs/usage/babelrc/

[2015-10-19 02:15] #57 closed

[2015-10-19 12:16] tkellen commented on #56
It'd be awesome if you whipped up some samples for the [hacker](http://github.com/js-cli/js-hacker) project so other people could see this readily too!

[2015-12-09 15:58] guybedford opened #60 "npm global folder ~/.npm-packages triggers env.modulePath"
I'm not sure if this is a feature or a bug but it came up in https://github.com/jspm/jspm-cli/issues/1338.

The issue is that when the global npm install folder is a local user path, this is setting `env.modulePath`, which is normally not set when running the global version.

Let me know if I'm missing something here but perhaps liftoff can determine if the module is resolving to one of the global

[2015-12-09 22:44] phated commented on #60
I'm going to look to @tkellen on the "bug or feature" part.

If it's a bug we need to fix, maybe we can use https://www.npmjs.com/package/global-modules or https://www.npmjs.com/package/global-paths - @guybedford could you have the users running into this get the output from those modules so we can see if they report correctly?

[2015-12-09 23:17] guybedford commented on #60
Good to hear from you @phated, and thanks for the quick response.

I was unable to replicate this again in my own tests, so please don't spend any time digging into this just yet - will report back with more info when we have looked into it again a bit further.

[2015-12-10 00:00] tkellen commented on #60
If you can replicate this, it's definitely a bug. You might have an easier time isolating it with http://github.com/js-cli/js-hacker

[2015-12-11 14:24] guybedford commented on #60
Thanks, I'm still struggling to get that replication from the original issue, but will keep you posted.

[2016-02-01 12:06] guybedford commented on #60
I still haven't got a replication on this, but a user [just posted](https://github.com/jspm/jspm-cli/issues/1338#issuecomment-177940126) they are getting this with a NODE_PATH of `C:\Users<username>\AppData\Roaming\npm\node_modules`.

[2016-02-07 18:54] tkellen commented on #60
Thanks for the update @guybedford! unfortunately, I still need a viable reproduction of this to investigate :(

[2016-02-09 04:54] staxmanade commented on #60
Hey All,

I think I'm getting this issue - as JSPM init wouldn't work for me... let me know if I can help to provide details to help diagnose.

I'm on Windows 10 - running inside PowerShell console.

[code]

the liftoff `modulePath` is set to `C:\Users\jason\AppData\Roaming\npm\jspm`.

As a local work-around I hacked JSPM with the following change to get it to resolve the global `node_module/jspm`

[2016-02-13 21:49] nlwillia commented on #60
Same issue as [jspm-cli#1338](https://github.com/jspm/jspm-cli/issues/1338) here...  My NODE_PATH was set to `C:\Users\<username>\AppData\Roaming\npm\node_modules` (maybe from a previous install of Node?  I just did a clean install to v5.6.0) and as a result liftoff was populating env.modulePath which caused jspm to conclude that the global version was local.  Much head-scratching ensued as I unsu

[2016-03-10 08:44] TomiS opened #63 "Folder traversing does not detect symlinked files."
I ran into this while using JSPM-cli that is apparently using this library, so this is more like a question/suggestion than an actual bug report. My original JSPM-related issue here:
https://github.com/jspm/jspm-cli/issues/1597

Should folder traversing handle symlinked files as they were real files in that location? I think they probably should. :)

[2016-03-11 20:44] mjhm commented on #47
Note that this is the source of an [issue on knex.js](https://github.com/tgriesser/knex/issues/1137)

[2016-03-11 21:02] phated commented on #47
This should already be supported, can you put together a reproduction repo?

[2016-03-12 00:54] mjhm commented on #47
@phated Here you go: https://github.com/mjhm/hacker_test

[2016-03-12 01:05] phated commented on #47
@mjhm thank you so much for the repo.  I was able to track down the problem rather quickly.  It seems that we added the support in 2.1 but the hacker module and knex both have liftoff pinned with `~` instead of `^` so they don't receive anything past `2.0.x`.  I'm going to close this and post the same findings on the knex issue.  Thanks again.

[2016-03-12 01:05] #47 closed

[2016-03-20 07:19] sttk commented on #8
@tkellen I tried this issue and finished implementing it on my repository.

[sttk/js-liftoff#support_multiple_config_files](https://github.com/js-cli/js-liftoff/compare/master...sttk:support_multiple_config_files)

But I changed a bit of your specification:

* The properties `searchPaths` or `searchPath` are not necessary.
* If the `searchPath` property is specified, the result is a string or null

[2016-03-20 07:31] sttk commented on #8
For the example in the top comment, the program outputs as follows:

[code]
[code]

[2016-03-23 13:15] sttk commented on #8
@tkellen Thanks for giving me push access, but I want you to check whether my modification meets your specification before commit this to the repository.

And now, I'm considering that searched paths should be returned not like `'searched/file/path.json'` but like `{ extension: '.json', path:'searched/file/path.json' }` for applying require functions corresponding to their extensions after.
How do

[2016-03-23 14:12] tusbar commented on #8
@sttk could you open a PR here so we can review the changes properly? :)

[2016-03-23 14:58] sttk commented on #8
@tusbar I've open this PR. Please review.

[2016-04-15 20:46] phated commented on #8
Fully fleshed out idea from https://github.com/js-cli/js-liftoff/pull/67#discussion_r59125527

Possible new spec:
[code]
yields
[code]

/cc @tkellen @sttk

[2016-04-16 01:10] sttk commented on #8
I understand new spec as follows (and have some questions) :

1. `searchPaths/searchPath` properties are abolished.
   * **Question**: If multiple paths are hit with extensions, is the result an array of paths, or only a first path?
   * **Question**: If the result path can be a string or an array, do users have to check it before using it?
2. Each `configFiles` properties (e.g. `.app`) can be an

[2016-04-16 06:14] phated commented on #8
Thinking deeper about your questions, I think every result should be a singular string.  That would mean dropping the array syntax (and relying on the keyed object for fallbacks) or stopping traversal after the first match; which do you think is better?  I'm leaning towards dropping the array syntax.

Extensions: match the behavior that liftoff currently uses.  If there is a gulpfile.js and a gulp

[2016-04-17 09:03] sttk commented on #8
@phated Thank you for answering my questions.

If every result is a singular string, I also think that dropping the array syntax is better because it makes less confusing for users and I can't think the cases in which the syntax is used.

Liftoff preferentially uses an earlier extension in specified order. (Though it isn't guaranteed.)

I got it. I'll do so.

I got it. I'll implement not to expand

[2016-05-12 14:22] jonschlinkert opened #69 "optimizations"
I'd like to propose some optimizations that I would also be happy to implement after pr #67 is resolved.

In particular, I think if path caching, lazy-caching and getters/setters are implemented throughout the code it would result in pretty noticeable performance improvements. Just as importantly we can do so without complicating the code (it might even make the code cleaner).

**Why?**

- lazy-ca

[2016-05-12 16:27] tkellen commented on #69
Huge :+1: to all of this @jonschlinkert. I look forward to discussing these updates in the future!

[2016-05-12 20:59] phated commented on #69
I think this is a good idea.  However, it would need to be a breaking release and we need to heavily test it against gulp use cases.  As we found out with a different module of @jonschlinkert's (I think it was some globbing module), people are bundling gulp up with webpack which didn't take kindly to the lazy caching.

[2016-05-13 17:44] jonschlinkert commented on #69
I agree, it would be a breaking release.

Lol yeah, that's the one issue I mentioned. lazy-cache was used in micromatch. Right after micromatch was merged into glob-stream an issue was created on glob-stream because of a bug in webpack (related to getters) - which surfaced because of lazy-cache's use of getters. "perception is reality", so it looked like a micromatch and/or lazy-cache bug (and it

[2016-06-21 11:08] 40thieves opened #71 "Release with updated dependencies"
I'm getting a security vulnerability check from nsp:

[code]

It seems that the findup-sync dependency is already bumped on master, so would it be possible to get a release with this?

[2016-06-21 17:59] phated commented on #71
Released as 2.2.3

[2016-06-21 17:59] #71 closed

[2016-06-21 18:01] phated commented on #71
Oops, look like we missed 2.2.2 because it was bumped in the package.json instead of using `npm version patch`.  Oh well.

[2016-06-21 20:00] tkdan235 opened #72 "Case sensitivity issue with most recent release"
The [Gulp](https://github.com/gulpjs/gulp) project uses js-liftoff as a dependancy.  In the past couple of hours folks have been experiencing broken builds via Gulp.  See this issue: gulpjs/gulp#1697.

In my case, Gulp uses a file named `Gulpfile.coffee` for its configuration.  Today Gulp failed to load `Gulpfile.coffee`. After our team did some digging into the issue we found that by changing the

[2016-06-21 20:10] cspotcode opened #73 "Docs out-of-date: nodeFlags is now v8flags"
https://github.com/js-cli/js-liftoff#respawnflags-child

This section of the readme refers to `nodeFlags`, but they have been renamed to `v8flags`  (https://github.com/js-cli/js-liftoff#optsv8flags)

[2016-06-21 20:31] phated commented on #72
This is a problem all the way down in findup-sync -> micromatch.  I've contacted @jonschlinkert

[2016-06-21 20:34] jonschlinkert commented on #72
reviewing now

[2016-06-21 20:38] jonschlinkert commented on #72
I just published a patch that should fix the issue. If someone could verify that would be awesome, and much appreciated

[2016-06-21 20:40] phated commented on #72
@jonschlinkert do we need to add the `nocase` option to findup-sync or liftoff?

[2016-06-21 20:40] phated commented on #72
nvm, liftoff has it already

[2016-06-21 20:43] jonschlinkert commented on #72
sorry, to clarify basically there was a function where the `nocase` option wasn't being passed down. it was definitely a bug in micromatch.

[2016-06-21 21:34] phated commented on #72
Rolled back the findup-sync upgrade until we fix it.  Published as 2.2.4

[2016-06-21 21:34] #72 closed

[2016-06-21 21:35] phated commented on #73
@cspotcode feel free to submit a PR.

[2016-06-21 21:59] cspotcode opened #74 "Add docs for extension {module, register()} variant"
It'd be cool if the documentation mentions this variant of `extensions`:

[code]

I see that it's already explained in [js-interpret's readme](https://github.com/js-cli/js-interpret#extensions) so even linking there, but specifically in relation to the above syntax, would be helpful for newcomers.

[2016-06-21 22:07] phated commented on #74
Surfacing the docs from dependencies has been a big problem for us. All of it has to be done manually right now. If you'd like to send a PR, I'm willing to review it.

[2016-06-23 17:08] cspotcode commented on #74
I won't have time for a PR in the next few months; busy with work stuff.

On Tue, Jun 21, 2016 at 6:07 PM, Blaine Bublitz <notifications@github.com>
wrote:

[2016-06-23 17:28] phated commented on #74
Same for all us maintainers. Feel free to submit a PR whenever you can.

[2016-06-23 18:50] #73 closed

[2016-07-18 21:12] weswigham opened #78 "Add option to set cwd in `Liftoff` constructor"
This way the appropriate `cwd` can be set when all `register` hooks get hooked in. This is an issue in, for example, `gulp` when using `ts-node` in a subdirectory with `--cwd`. The `cwd` passed is not respected by the require hooks included by liftoff since the `cwd` is only set during `launch` (so it is not set when the `require` hook is loaded).

[2016-07-18 21:18] phated commented on #78
The require hooks are loaded with node's `require` which doesn't take into account a `cwd` parameter and instead use `process.cwd()`.  Liftoff should not be responsible for changing that (although, gulp decides to do that in its CLI).  @tkellen do you agree?

[2016-07-18 21:21] weswigham commented on #78
So the correct fix would instead be, in `gulp`, _before_ it's construction of `Liftoff`, using `process.chdir`?

[2016-07-18 21:28] phated commented on #78
@weswigham that would be the only place where we'd consider it.  If you open an issue on gulp-cli, we can discuss over there.  It would effect this chunk of code: https://github.com/gulpjs/gulp-cli/blob/master/index.js#L131-L137

Closing this.

[2016-07-18 21:28] #78 closed

[2016-07-19 11:49] tkellen commented on #78
Agreed @phated! If we wind up thinking this is a best practice, we should consider updating [hacker](https://github.com/js-cli/js-hacker) to  do it as well.

[2016-07-20 02:18] chinesedfan opened #79 "warn exceptions friendly"
Due to [the npm bug](https://github.com/npm/npm/pull/12811), wrong version of glob may be installed. For example, if add glob 7 in devDependencies, it will cause `ENOTDIR invalid cwd` error.

It's better to warn exceptions friendly in [following codes](https://github.com/js-cli/js-liftoff/blob/master/index.js#L95). Or users will be confused for some error like [`TypeError: Invalid Version: undefin

[2016-07-25 20:30] #8 closed

[2016-07-27 18:44] phated opened #80 "Appveyor"
I was trying to look into the appveyor run before publishing but I can't seem to find it.  It looks like it used to be at https://ci.appveyor.com/project/tkellen/js-liftoff but going to that URL gives me an error message.  @tkellen can you look into this?

[2016-07-27 18:48] phated opened #81 "Use `files` property to only ship necessary files"
I noticed that there's an `.npmignore` file but it doesn't exclude much.  How would you feel about using the package.json `files` property to only ship `index.js`, `lib/` (license and readme are always included)?

cc @tkellen

[2016-07-27 18:50] tkellen commented on #81
:+1:

[2016-07-27 18:53] #80 closed

[2016-07-27 18:53] tkellen commented on #80
done!

[2016-07-27 18:55] phated commented on #80
Thanks!

[2016-07-27 20:00] phated commented on #8
Support for this was just published as 2.3.0

[2016-10-05 19:11] contra opened #82 "running when no file found errors"
[code]

gulp-cli 3.2.2 and liftoff 2.3.0

[2016-10-05 19:13] phated commented on #82
there is no gulp-cli 3.2.2

[2016-10-05 19:14] tkellen commented on #82
Can you give us the output of `npm ls` in this project?

[2016-10-05 19:17] contra commented on #82
Typo - 1.2.2

[2016-10-08 03:17] sttk commented on #82
The current liftoff code doesn't use `path.basename` but it was used before #49. ([That line number also matches.](https://github.com/js-cli/js-liftoff/pull/49/files#diff-168726dbe96b3ce427e7fedce31bb0bcL113)) Though there may be cases that `configPath` becames null, the current liftoff and gulp-cli checks if the `configPath` is null.

I tried to reproduce this but did not.
What I did was:

[code]

[2016-10-08 03:54] contra commented on #82
Fresh install still having issues:

[code]

[2016-10-08 04:15] sttk commented on #82
In the error stack traces :

Is old gulp-cli in global installed gulp used?

[2016-10-08 16:14] contra commented on #82
If nobody else is able to repro I guess I'll wipe my computer and close this, probably something fucked up with npm pointing to old versions.

[2016-10-08 16:14] #82 closed

[2016-10-11 05:41] phated commented on #82
@contra just getting a chance to look at this with the new details.  It looks like your global has `gulp` installed instead of gulp-cli.  Not sure if that might be causing the problem.  The main gulp package can be removed from global.

[2016-10-11 06:57] contra commented on #82
@phated yep, was an npm fuckup somehow. even with a fresh `npm rm gulp; npm cache rm; npm install gulp-cli` it was still an issue

[2016-12-13 20:46] mcblum opened #83 "Stange error: EACCES: permission denied, scandir '/home'"
Does anyone have any idea how I can indicated to liftoff that /home is protected so it should use /home/username as the route? We're trying to deploy our app and getting stuck at:

[code]

[2016-12-14 13:24] tkellen commented on #83
Have you tried specifying a path to your gulpfile using the [`--gulpfile` flag](https://github.com/gulpjs/gulp-cli#flags)?

[2016-12-14 13:44] tkellen commented on #83
cc @sttk btw, I believe this behavior is coming from http://github.com/js-cli/fined

[2016-12-14 15:05] mcblum commented on #83
@tkellen I have not. I believe that js-liftoff is being pulled in as part of Webpack or maybe our Gulp component generators, so I'm not invoking it directly. If the task I'm running is `gulp webpack` which packages our files for deploy, would would I pass a path directly to a dependency?

Thank you for you assistance on this!

[2016-12-14 16:10] tkellen commented on #83
Try running `gulp --gulpfile /path/to/gulpfile webpack`

[2016-12-14 16:23] sttk commented on #83
@tkellen fined doesn't use findup-sync. gulp-cli (liftoff) uses it to find `gulpfile.js` (`configPath`) and gulp's `package.json`(`modulePackage`)  and these findings don't use fined.

[2016-12-14 16:50] mcblum commented on #83
@tkellen I tried specifying the exact path and still got:

[code]

@tkellen I'm not 100% sure what that means. Am I posting in the wrong repo?

[2016-12-14 17:09] mcblum commented on #83
Well, after trying 1000 things I finally realized that Gulp was installed globally on the server and simply needed to be updated to 3.9.1. I don't know why. Whatever it was, it works now!

Thanks all.

[2016-12-14 17:39] phated commented on #83
@mcblum glad that fixed it.  Going to close this.

[2016-12-14 17:39] #83 closed

[2017-01-17 12:13] alexisvincent opened #84 "support package.json key"
Hey guys,

Great project :) Does pretty much everything I do manually and more.

The only thing that I currently do that I wouldn't be able to with this project is,
check for a specified key in the `package.json` and use the object it maps to as config (if it exists). Similar to what babel does.

So for instance. I can config my cli utility either through a `systemjs-tools.js` file or a `systemjs-

[2017-01-17 12:24] alexisvincent commented on #84
After a little bit of thought, I think that all that needs to happen would be to add a `filter` key to the `fined` config option. This would mean, when it discovers a file, it could pass the file path to the provided `filter` function. If the function returns `true` it is assumed to be the config file, and on false it moves on.

This would mean folks could do their own `package.json` checking and

[2017-01-23 22:01] phated commented on #84
I believe you can already implement that with the https://github.com/js-cli/js-liftoff#optsconfigfiles feature that @sttk added.  It would only require a little glue-code in your implementation.  Right @sttk?

[2017-01-23 22:11] alexisvincent commented on #84
@phated Thanks for the response. But after reading the docs, I don't see how I would implement it.

[2017-01-23 22:33] alexisvincent commented on #84
Oh I see, I was under the impression that it stopped once it found a file, but if it returns all the config files that conform to the rule that's diffirent

[2017-01-24 14:01] tkellen commented on #84
:+1: to that. Also, Liftoff automatically provides the value of `package.json` for you under the `modulePackage` key. If you don't need a "non-standard" lookup path, you can use that. For example:
https://github.com/js-cli/js-hacker/blob/master/bin/hacker.js#L43

[2017-01-24 14:02] tkellen commented on #84
That's done here:
https://github.com/js-cli/js-liftoff/blob/master/index.js#L91-L115
https://github.com/js-cli/js-liftoff/blob/master/index.js#L153

[2017-01-24 15:35] sttk commented on #84
@phated Yes. But as @tkellen says, the full path and contents of `package.json` are already given as `env.modulePath` and `env.modulePackage`. It's easiler to use them.

[2017-01-24 17:17] phated commented on #84
Thanks @tkellen and @sttk!  I'm going to close this.

[2017-01-24 17:17] #84 closed

[2017-08-01 20:02] phated opened #85 "Remove lodash"
This will help in deduping the gulp tree.

[2017-10-01 20:03] phated commented on #34
Completed by #87

[2017-10-01 20:03] #34 closed

[2017-10-01 20:43] #85 closed

[2017-12-13 22:21] #81 closed

[2018-01-28 09:11] sttk opened #90 "Twice require messages when specifying v8flags"
Same require message is outputted twice, when a config file needs a loader (ex. `hackerfile.babel.js`) and v8flags are given, as follows:

[code]

To fix this issue, [this part](https://github.com/js-cli/js-liftoff/blob/master/index.js#L118-L130) should be moved to [here](https://github.com/js-cli/js-liftoff/blob/master/index.js#L203). (In addition, this modification will enable to configure logs

[2018-01-28 20:23] phated commented on #90
There's a bunch of issues surrounding js-rechoir that I was digging into earlier this week.  I think this could be cleaned up with that stuff too.

[2018-03-23 16:02] capaj opened #91 "modulePath is undefined when invoked from a namespaced npm module"
![image](https://user-images.githubusercontent.com/1305378/37839842-ccc0c452-2ebb-11e8-9a8c-fe7c95dfdea3.png)

When I invoke CLI on my namespaced package `@capaj/knex` it doesn't get any `modulePath` passed to it.

[2018-04-03 13:13] sttk commented on #53
I've sended a pr #92 for this issue.

Now I think it is enough to emit `beforeRequire` event only for a module specified with `opts.require` by an app user. (So I'll close https://github.com/js-cli/js-rechoir/pull/36.)

[2018-04-04 14:56] sttk commented on #91
Perhaps you need to set `'@capaj/knex'` to `opts.moduleName` of Liftoff constructor.

[2018-04-09 22:02] simevo opened #96 "please turn on travis CI for node.js 8"
The current stable version of node.js is 8.11.1 - it could be worth updating the `.travis.yml` to test on node-js 8 ?

[2019-02-24 23:36] phated commented on #96
Node 8 and 10 were added to the Linux and Windows matrix in https://github.com/js-cli/js-liftoff/commit/7853fd33d6f97c2abb5f81b7197736f0e0a1d971

OSX tests were also enabled in that commit.

[2019-02-24 23:36] #96 closed

[2019-02-24 23:58] #90 closed

[2019-03-25 16:02] EladBezalel opened #100 "can't use '.'(dot) in 'configName' option"
When creating a new Liftoff instance and passing a `configName` you can't use `.` as part of it.

I want to have a cli named `dcm` and it's config file to be `dcm.config.{ext}`

[code]

at this point when requiring the config the *registered loaders* doesn't seem to run properly, when removing the `.` from the name or having es5 code syntax in the config file, it works.

[2019-03-26 14:11] sttk commented on #100
@EladBezalel On `node --experimental-modules`, the above code outputs error message: `UnhandledPromiseRejectionWarning: ReferenceError: require is not defined`.

How about using `import()` instead of `require()`?

[2019-03-28 14:16] EladBezalel commented on #100
It doesn't seem to be related to `require` nor `import`

How is `--experimental-modules` related to this issue?

For me it seems as somewhere along the way some package is splitting by `.` and loses context of the registered loaders for that file type.

[2019-03-29 12:26] sttk commented on #100
I'm sorry if I misunderstood. I thought this issue that the above code failed to run at requiring, and tried it as follows. (About `--experimental-modules` it was for explanation of my execution setting.)

[code]

What result do you mention improper? Could you show me any output of running?

[2019-03-29 21:52] EladBezalel commented on #100
I think I have forgot to mention my config file is in typescript

[code]

By saying that the registered loaders aren't working I meant that when I have `.` in the config file it doesn't transpiles the file, even with Babel just
It works when I remove the dot from the config name.

I hope that's clearer

[2019-04-05 13:46] sttk commented on #100
@EladBezalel is this what you want? If this is different, please post your execution example.

[code]

[2019-04-07 09:03] EladBezalel commented on #100
So your example is working, though when i try to create a cli tool out of it it seems to fail..

I replicated it [here on glitch](https://glitch.com/edit/#!/emerald-screen?path=index.ts:7:14)

Once i move the Liftoff preparation and execution inside a function it fails with the dot in the name..

Thanks for looking into it

[2019-04-07 14:48] sttk commented on #100
@EladBezalel  Thanks for your code. I could reproduce this issue.

The cause of this issue is [rechoir#37](https://github.com/gulpjs/rechoir/pull/37) and this was already fixed but liftoff has not update it yet.

I've sent a [PR](https://github.com/js-cli/js-liftoff/pull/102) and this issue will be fixed by it.

[2019-04-07 15:14] EladBezalel commented on #100
That's awesome, thanks for looking into it. love your project, keep up the good work :)

[2019-04-20 16:33] #100 closed

[2019-04-20 16:40] phated commented on #91
@sttk if `opts.moduleName` were specified as the namespaced module, wouldn't the file need to be named something like `@capaj/knexfile.js`?  That would be super weird.  Can we add a test for this?

[2019-04-23 11:22] #53 closed

[2019-07-18 16:09] mcandre opened #107 "high severity vulnerability"
[code]

[2019-08-07 00:28] nitinsurana commented on #107
https://github.com/js-cli/js-liftoff/pull/108

[2019-08-23 09:17] dclayton-diig opened #110 "Deprecate node versions <= 6"
Travis CI is currently failing when upgrading uplift-sync because transitive dependency micromatch uses the object spread operator (unsupported in node <= 6).

Update travis build YAML to remove EOL node versions.

[2019-08-23 17:55] phated commented on #110
This is on our roadmap but we aren't ready to make this switch yet.

[2019-08-23 17:55] #110 closed

[2019-11-04 17:03] ams-tschoening commented on #55
I've ran into the same problem with the following directory layout:

* app
* build
* config
	* Gruntfile.js
	* stealConfig.js
* lib
	* bower_components
	* node_modules
	* bower.json
	* package.json

Grunt uses LiftOff the following:

	  Grunt.launch({
	    cwd: options.base,
	    configPath: options.gruntfile,
	    require: options.require,
	    verbose: options.verbose
	  }, function (env) {

Lik

[2020-05-05 22:24] mcandre commented on #107
This project is dead.

[2020-05-05 22:39] mcandre opened #113 "Posted liftoff fork with security patches included"
https://www.npmjs.com/package/liftoff2

If a responsible maintainer will resolve `npm audit` warnings for the original fork, I'm happy to take mine back down.

[2020-05-05 22:47] tkellen commented on #107
lol @mcandre

[2020-09-27 18:50] kibertoad opened #115 "Additional maintainers?.."
Hi! I'm a maintainer of `knex` and we use your package. There were complaints of security vulnerabilities that transitively come from `liftoff`. Would you be open to accepting additional maintainers into your project in order to address the vulnerabilities?

[2020-09-27 18:50] kibertoad commented on #115
@phated

[2020-09-27 19:40] phated commented on #115
This project is going through a complete rewrite and then will be properly migrated to the @gulpjs organization.

[2020-09-27 19:44] kibertoad commented on #115
Thank you for the heads-up!

[2020-11-14 14:05] kibertoad commented on #115
@phated Would you be open to releasing a hotfix version if we provide a PR that would resolve current security warnings about liftoff? Our users keep complaining about security warnings they are getting, and we can't remove `liftoff` dependency without a semver major.

[2021-10-24 14:29] phated opened #120 "Rebase history"
I'd like to rebase the history to make this more friendly on release-please for the changelog & github release. I'm planning to rebase this and then switch over to the main branch.

[2021-10-24 14:50] phated opened #121 "Upgrade all deps to their node >=10.13 versions"
I'm opening this issue as a tracking issue to get all of our deps upgraded to run on only node >=10.13 and then bump them here to align all of our semver.

cc @sttk - that's why I opened the other issues.

[2021-11-22 21:46] phated commented on #120
This has been completed. The history has been rebased, new tags have been added and the changelog for each has been generated.

[2021-11-22 21:46] #120 closed

[2021-11-22 21:46] phated commented on #121
This has been completed in `main`

[2021-11-22 21:46] #121 closed